# Nociones básicas de programación en `R`


Los ejemplos que aparecen en esta hoja están inspirados en [An introduction to R](https://cran.r-project.org/doc/manuals/r-release/R-intro.pdf).

En `R` varios comandos se pueden agrupar entre llaves, `{exp_1;...;exp_n}`. Normalmente, en una entrada de un bloc de `jupyter` no necesitamos agrupar, pues podemos separar cada expresión en una línea distinta, pero para hacer bucles y escribir nuestras propias funciones, vamos a necesitar agrupar varias expresiones en bloques. Los `;` no serán necesarios si nuestra expresión acaba en una línea determinada y empezamos otra nueva.

In [1]:
{a<-c(1:3);b<-c(a,1);b}

[1] 1 2 3 1

In [2]:
a<-c(1:3)
b<-c(a,1)
b

[1] 1 2 3 1

### Condicionales `if`

Un condicional `if` tiene esta forma `if (exp_1) exp_2 else exp_3`.

In [3]:
if (1>2) 3 else 4

[1] 4

## Bucles `for`

Un bucle `for` tiene esta estructura: `for (nombre in exp_1) exp_2`, donde `exp_1` es un vector y `exp_2` es normalmente un grupo de expresiones.

In [4]:
a<-c(1:6)
p<-1
for (i in a){
    p<-p*i
}
p

[1] 720

Veamos un ejemplo que combina `if` y `for`. Vamos a seleccionar los enteros entre 1 y 30 que sean congruentes con 1 módulo 3 (el resto de dividir por 3 es 1). Para ello usaremos `%%` que sirve para calcular el resto de la división entre dos enteros.

In [5]:
a<-c(1:30)
b<-c()
for (i in a){
    if (i %% 3 == 1) {b<-c(b,i)}
}
b

 [1]  1  4  7 10 13 16 19 22 25 28

Aunque como sabemos, en `R` hay formas más elegantes de hacer lo mismo.

In [6]:
a[a%%3==1]

 [1]  1  4  7 10 13 16 19 22 25 28

## Ejemplos sencillos de funciones

Para crear una función usamos `function`, y normalmente tienen esta estructura `function(argumentos) exp`, donde `argumentos` son cero o más argumentos, y `exp` es un conjunto de expresiones.

Veamos varias formas de escribir la función factorial. Primero con un bucle.

In [22]:
f1<-function(n){
    p<-1
    for (i in 1:n){
        p<-i*p
    }
    p
}

In [23]:
f1(3)

[1] 6

Luego de forma recursiva.

In [39]:
f2<-function(n){
    if (n==0) {
        return(1)
    } 
    else {
        return(n*f2(n-1))
    }
}

In [40]:
f2(3)

[1] 6

O bien usando vectores.

In [45]:
f3<-function(n){prod(c(1:n))}

In [46]:
f3(3)

[1] 6

Con control "simple de errores"

In [72]:
f4<-function(n){
    if (!(is.vector(n) && length(n)==1 && n>=0 && n%%1==0)){
        stop("El argumento debe de ser un entero no negativo")
    }

    return(prod(c(1:n)))
}

In [73]:
f4(-3)

ERROR: Error in f4(-3): El argumento debe de ser un entero no negativo

In [74]:
f4(1:2)

ERROR: Error in f4(1:2): El argumento debe de ser un entero no negativo

`R` tiene ya un factorial predefinido.

In [44]:
factorial(3)

[1] 6

## `Vectorized`

Una vez que tenemos definida una función se la podemos aplicar a un vector o a una matriz con `sapply`.

In [17]:
sapply(1:3, (function(x) x^2))

[1] 1 4 9

Al aplicarlo a una matriz, el resultado es un vector.

In [15]:
A<-rbind(c(1,2),c(3,4))
B<-sapply(A,(function(x) x^2))
B

[1]  1  9  4 16

Si queremos que `B` tenga el mismo tamaño que `A` (mismas filas y columnas), hacemos lo siguiente:

In [16]:
dim(B)<-dim(A)
B

     [,1] [,2]
[1,] 1     4
[2,] 9    16

Podemos también usar `Vectorize` para convertir una función que tengamos definida para aplicarla a un vector o a una matriz. Vesmos un ejemplo. Supongamos que queremos encontrar aproximaciones de un número real por un número racional. Esto lo podemos hacer con `contfrac` de la librería `numbers`.

In [18]:
numbers::contfrac(1/7)

$cf
[1] 0 7

$rat
[1] 1 7

$prec
[1] 0

Nos podemos quedar con `$rat`, y crear una cadena que separe numerador y denominador con "/".

In [19]:
torat<-function(x){paste(numbers::contfrac(x)$rat,collapse="/")}

In [20]:
torat(1/7)

[1] "1/7"

Lo "vectorizamos" con `Vectorize`:

In [22]:
vtorat<-Vectorize(torat)

In [23]:
A<-rbind(c(1/2,-1/3),c(1,-1/7))
vtorat<-Vectorize(torat)
B<-vtorat(A)
dim(B)<-dim(A) #c(nrow(A),ncol(A))
B

     [,1] [,2]
[1,] 1/2  -1/3
[2,] 1/1  -1/7

## Valores por defecto

Podemos crear una función en la que uno o más argumentos tengan un valor por defecto. Veámoslo con un simple ejemplo.

In [24]:
f<-function(x,y=10){
    return(x*y)
}

Si no pasamos el segundo argumento, considerará por defecto que vale 10.

In [29]:
f(2)

[1] 20

In [26]:
f(2,3)

[1] 6

In [27]:
f(2,y=5)

[1] 10

De hecho, el orden de los argumentos no es importante si especficamos su valor en la llamada a la función.

In [30]:
f(y=1,x=2)

[1] 2